<!DOCTYPE html>
<html>
<head>
  <title>Dooya</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="stylesheet" href="/staticcss/auto_sys.css">
  <link rel="stylesheet" href="/static/css/solutions.css">
  <link rel="stylesheet" href="/static/css/products.css">
<!--   <link rel="shortcut icon" href="img/logo.png" type="image/x-icon" /> -->
</head>

<body>

  <div class="container">
    <!-- 导航栏 -->
    <div id="navbar_top">
      <div v-html="dataContent"></div>
    </div>
  </div>

  <div class="clear" style="height: 20px"></div>

  <div id="mid_menuBar" class="container">
    <span> Products &gt; Tubular Motor &gt; 15</span>
    <url>
      <li><a>All Products</a></li>
      <li><a>Bridges</a></li>
      <li><a>Wi-Fi Products</a></li>
      <li><a>The Third Party</a></li>
    </url>
  </div>

  <div class="container">
    <div class="clear" style="height: 80px"></div>
    <div style="width: 100px;height: 26px;float: right">
      <img src="/static/solutions/img/Radio+@2x.png" class="img-fluid" alt="img"/>
    </div>
    <div class="clear" style="height: 50px"></div>

    <div class="center-block" id="motor_img_bg">
        <img src="/static/products/img/DM15LEU_@2x.png" class="img-fluid" alt="img"/>
    </div>

<!-- 表格部分 -->
    <span class="slide_area_tit">Product Parameter</span>
    <div style="height: 30px"></div>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>Rated Torque</td>
          <td>0.3 Nm</td>
          <td>Degree of Protection</td>
          <td>IP20</td>
        </tr>
        <tr>
          <td>Rated Speed</td>
          <td>30 Rpm</td>
          <td>Maximum Limit Turn</td>
          <td>∞</td>
        </tr>
        <tr>
          <td>Radio Frequency</td>
          <td>433 MHz</td>
          <td>Running Time</td>
          <td>>6 min</td>
        </tr>
        <tr>
          <td>Rated Current</td>
          <td>0.6 A</td>
          <td>Working Temperature</td>
          <td>0℃~40℃</td>
        </tr>
        <tr>
          <td>Rated Power</td>
          <td>5 W</td>
          <td>Certification</td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <div style="height: 30px"></div>
    <span class="slide_area_tit">Mainly Features</span>
    <div class="clear"></div>
    <div id="circle_div_bg">
      <div class="circle_div circle_mid color_one" style="top: 15%;left: 18%">
        <p>Smartphone Control<p>
      </div>
      <div class="circle_div circle_big color_two" style="top: 23%;left: 27%">
        <p>Built-in Lithium Battery<p>
      </div>
      <div class="circle_div circle_mid color_one" style="top: 17%;left: 38%">
        <p>Memorized Setting<p>
      </div>
      <div class="circle_div circle_big color_two" style="top: 19%;left: 48%">
        <p>Electronic Limit<p>
      </div>
      <div class="circle_div circle_mid color_one" style="top: 19%;left: 60%">
        <p>Smartphone Control<p>
      </div>
      <div class="circle_div circle_big color_two" style="top: 23%;left: 70%">
        <p>Preferred Stop Position<p>
      </div>

      <div class="circle_div color_one" style="width:12px;height:12px;top: 55%;left: 18%"></div>
      <div class="circle_div color_two" style="width:20px;height:20px;top: 50%;left: 23%"></div>
      <div class="circle_div color_one" style="width:40px;height:40px;top: 60%;left: 36%"></div>
      <div class="circle_div color_two" style="width:18px;height:18px;top: 47%;left: 43%"></div>
      <div class="circle_div color_one" style="width:30px;height:30px;top: 54%;left: 53%"></div>
      <div class="circle_div color_two" style="width:40px;height:40px;top: 58%;left: 61%"></div>

      <div class="circle_div color_one" style="width:30px;height:30px;top: 67%;left: 21%"></div>
      <div class="circle_div color_two" style="width:12px;height:12px;top: 61%;left: 26%"></div>
      <div class="circle_div color_one" style="width:20px;height:20px;top: 75%;left: 37%"></div>
      <div class="circle_div color_two" style="width:15px;height:15px;top: 68%;left: 41%"></div>
      <div class="circle_div color_one" style="width:25px;height:25px;top: 73%;left: 50%"></div>
      <div class="circle_div color_two" style="width:10px;height:10px;top: 71%;left: 68%"></div>
    </div>
  </div>

  <div class="container-fluid" style="height: 550px;background-color: #F1F1F1">
    <div style="text-align: center;height: 30%">
      <div style="height: 60px"></div>
      <div class="mid_icon_div_prt">
        <img src="/static/products/img/Roller System@2x.png" alt="img"/>
        <p>Roller Blinds</p>
      </div>
      <div class="mid_icon_div_prt">
        <img src="/static/products/img/Roller System@2x.png" alt="img"/>
        <p>Insect Screen</p>
      </div>
      <div class="clear"></div>
    </div>
    <div style="height: 70%">
      <div class="product_bg" style="width: 70%;height: 100%;
      margin: 0 auto;background-image: url('/static/products/img/Insect Screen@2x.png')">
      </div>
    </div>
  </div>

  <div class="container" id="motor_card_bg_prt">
    <div class="clear" style="height: 30px"></div>
    <span class="slide_area_tit" style="font-size: 16px">Technical Support</span>
    <div class="clear" style="height: 10px"></div>
    <div class="pruduct_card">
      <div class="pruduct_card_img">
        <img src="/static/index/img/Curtain-pic@2x.png" class="img-fluid" alt="img" draggable="false"/>
      </div>
      <div class="pruduct_card_text">
        <div class="product_card_icon">
          <img src="/static/auto_sys/img/manual@2x.png" class="img-fluid" alt="img" draggable="false"/>
        </div>
        <span>Manual</span>
      </div>
    </div>
    <div class="pruduct_card">
      <div class="pruduct_card_img">
        <img src="/static/index/img/Venetian-pic@2x.png" class="img-fluid" alt="img" draggable="false"/>
      </div>
      <div class="pruduct_card_text">
        <div class="product_card_icon">
          <img src="/static/auto_sys/img/Video@2x.png" class="img-fluid" alt="img" draggable="false"/>
        </div>
        <span>Video</span>
      </div>
    </div>
    <div class="clear" style="height: 30px"></div>
    <span class="slide_area_tit" style="font-size: 16px">More Related Products</span>
    <div class="clear" style="height: 30px"></div>
    <div class="row">
      <div class="col-sm-3">
        <button class="btn_motor_prt">DM20LEU/S</button>
      </div>
      <div class="col-sm-3">
        <button class="btn_motor_prt">DM25LEU/S</button>
      </div>
      <div class="col-sm-3">
        <button class="btn_motor_prt">DM28LEU/S</button>
      </div>
    </div>
  </div>

  <div class="clear" style="height: 10px"></div>
  <div class="container-fluid light_gray_bg" style="height: 200px;text-align: center">
    <span style="font-size: 24px;line-height: 200px">How to buy?</span>
  </div>
  <div style="height: 10px"></div>
  <!-- 页脚 -->
  <div id="footer"></div>
  <script src="/static/js/vue.2.2.2.js"></script>
  <script src="/static/js/vue-data.js"></script>
  <script src="/static/js/jquery-3.4.1.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/common.js"></script>
  <script src="/static/js/products.js"></script>
</body>
</html>