<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>这是主页</h1>
    {% if request.session.is_login %}
        <h1>已登录</h1>
        <h1>欢迎:{{ request.session.user_name }}   <a href="/sign_out/">登出</a></h1>
    {% endif %}
    <div>
        <a href="/register">跳转到注册页面</a>
    </div>
    <div>
        <a href="/log_in/">跳转到登录页面</a>
    </div>
    <div>
        {{ message }}
    </div>
    <div>
        <a href="/download/?fileName=Debug.rar">点击下载上位机资料</a>
    </div>

    <div>
        <a href="/download/?fileName=10 Add wifi motor.mp4">点击下载视频文件</a>
    </div>

    <div>
        <a href="/download_testMotor/?fileName=Debug.rar">点击下载测试电机上位机</a>
    </div>

    <form action="/uploadFile/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="myfile">
        <input type="submit" value="upload">
    </form>
</body>
</html>