<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <h1>这是django的分页功能测试</h1>
    {% for item in page %}
        <tr>
            <td width="120px">{{item.name}}</td>
        </tr>
    {% endfor %}
    <nav aria-label="Page navigation">
            <div class="pagination">
                <ul class="pagination pagination-lg">
                {% if page.has_previous %}
                    <li><a href="/page.html/?page={{page.previous_page_number}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span></a></li>
                {% endif %}

                {% for num in page.paginator.page_range%}
                    {%if pindex == page.number%}
                        <li><a href="">{{ num }}</a></li>
                    {%else%}
                        <li><a href="/page.html/?page={{num}}">{{ num }}</a></li>
                    {%endif%}
                 {% endfor %}

                 {% if page.has_next %}
                     <li><a href="/page.html/?page={{page.next_page_number}}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span></a></li>
                  {% endif %}
                </ul>
            </div>
    </nav>

</body>
</html>